.particles-js-canvas-el {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1000;
    
}
.profile-block {
    min-height: 600px;
    margin-top: 30px;
    
}
.sidebar {
    width: 260px;
    min-height: 600px;
    padding: 0;
    margin-left: 30px;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgba(255, 255, 255, 0.3);
}

.message-box-messages {
    height: 510px;
    padding: 30px;
    margin-bottom: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: normal;
}

.message-box-messages > ul {
    list-style-type: none;
    
}

.message-box {
    min-height: 600px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-left: 20px;
    padding: 0;
}

.message-box-header {
    background-color: rgba(255, 255, 255, 0.4);
    height: 40px;
}

.message-box-messages small {
    color: rgba(0, 0, 0, 0.2);
    font-weight: 800;
}

#logo {
    height: 40px;
    padding-top: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #FCE4EC;
    text-blink: auto;
    padding-left: 30px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}
.avatar .uploader-image {
    display: none;
}

.message-box-messages li > span{
    font-weight: 900;
    color: white;
}

#avatar {
    height: 260px;
    width: 260px;
    cursor: pointer;
}

.middle-content {
    background-color: #E0E0E0;
}

.navigation {
    background-color: #9E9E9E;
    height: 30px;
    padding: 5px 10px;
/*
    margin-bottom: 7px;
    margin-top: 5px;
*/
}

.navigation > div > a:hover {
    text-decoration: none;
    color: #E91E63;
}

.navigation > div > a:after {
    text-decoration: none;
    color: #E91E63;
}

.fa {
    font-size: 15px;
    color: #FCE4EC;
}

.form-control {
    box-shadow: none;
}

.search {
    padding: 0 6px;
}

.search >div > input {
    border-radius: 0px;
    border: none;
}


.nav-sidebar {
    margin-right: 7px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: 7px;
    margin-top: 7px;
}


.nav-sidebar > li > a {
    display: block;
    padding: 0 20px;
    width: 100%;
    height: 60px;
    font-size: 15px;
    color: #424242;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    margin-bottom: 6px;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    z-index: 0;

}

.fr-avatar {
    margin-top: 0px;
    padding-bottom: 1px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    height: 50px;
    width: 50px;
    margin-left: -20px;
}

friend-row,
.well {
    height: 60px;
    padding: 0;
    border: none;
    margin-right: 10px;
}

.friend-row {
    margin: 5px 11px 5px 5px;
}

.friend-buttons a,
.well a {
    text-align: center;
    
    font-size: 24px;
    width: 30px;
    height: 28px;
}

.friend-row > div > button > a:hover,
.well > div > button > a:hover {
    text-decoration: none;
    color: #E91E63;
    z-index: 1000;
}

.friend-row a:hover,
.well a:hover {
    color: #333;
    text-decoration: none;
}

.friend-row a {
    float: right;
    margin-top: 16px;
    cursor: pointer;
    color: dimgrey;
}

.users-list {
    background-color: rgba(188, 214, 216, 1);
    margin: 0;
    padding: 10px 15px 0px 15px;
}

.friend-all {
    color: dimgrey;
    padding-left: 10px;
}

#toast-container img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
}

#toast-container > .toast.toast-info {
    background-image: none !important;
}
